.navbar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100vw;  
    max-width: 100%; 
    background: linear-gradient(145deg, #a7f5ed, #f3a7f3);
    background-size: 200% 200%;
    animation: gradientShift 5s ease infinite;
    color: #000 !important;
    padding: 15px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;  
  }



  .register-oval-btn {
    background-color: #e8dc81 !important;
    color: black !important;
    padding: 10px 60px;        /* Increased size */
    border-radius: 6px;
    border: none;
    font-size: 18px;           /* Larger text */

  }
  
  .register-label {
    padding: 6px 20px;
    border-radius: 999px;
    border: 2px solid white;
  }
 
  body {
    padding-top: 80px; 
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  
    text-decoration: none;
    transition: color 0.3s, transform 0.3s ease-in-out;
  }
  
  .navbar .logo:hover {
    color: #FFDE59;
    transform: scale(1.1); 
  }
  

  .navbar .nav-links {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; 
  }
  
  .navbar .nav-item {
    text-decoration: none;
    color: #000 !important;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap; 
  }
  
  .navbar .nav-item:hover {
    color: #FFDE59 !important;
    transform: scale(1.1); 
  }
  

  .logout-btn {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
 
  .logout-btn:hover {
    color: #FFDE59 !important; 
    transform: scale(1.1); 
  }
  

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      padding: 10px 15px;
    }
  
    .navbar .nav-links {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 100%;
    }
  
    .navbar .nav-item {
      width: 100%; 
      text-align: center;
    }
  }
  